<%
data = local_assigns[:data] || {}
# add 'list_' prefix to all keys
data = Hash[data.map { |k,v| ["list_#{k}".to_sym, v] }]
data = { list: resource }.merge(data)
%>

<%= content_tag :ul, data: data, class: (local_assigns[:class] || :list) do %>

	<% if collection and collection.length > 0 %>
	  <%= render collection, local_assigns %>
	<% end %>
	<li data-list-empty='<%= resource %>'><%= t 'empty' %></li>
	<% if local_assigns[:show_add_button] %>
		<%= render partial: 'shared/lists/add', locals: {
			resource: resource,
			options: local_assigns[:show_add_button]
		} %>
	<% end %>
<% end %>

<% if collection.present? %>
	<ul data-template='<%= collection[0].class.name.demodulize.parameterize %>'>
		<%= render collection[0] %>
	</ul>
<% end %>