<%
tabs = ['weekly', 'all_time', 'recent'] unless local_assigns.has_key?(:tabs)
unless local_assigns.has_key?(:categories)
	categories = [''] # global
	categories << 'user' if user_signed_in?
end
%>

<article class='tabbed'>
	
	<% categories.each do |category| %>
		<% tabs.each do |tab| %>
			<%
			tab = category.present? ? "#{category}_#{tab}" : tab
			collection = instance_variable_get(:"@#{tab}")
			%>
			<% if collection %>
				<%
				l = { collection: collection, resource: resource }
				if local_assigns.has_key?(:locals) and locals.has_key?(tab.to_sym)
				  l.merge!(locals[tab.to_sym]) 
			  end
				%>
				<section data-content='<%= tab %>'>
					<h1><%= t "pages.#{resource}.index.#{tab}.title" %></h1>
					<%= render partial: 'shared/lists/list', locals: l %>
				</section>
			<% end # if collection %>
		<% end # each tab %>
	<% end # each category %>
	
	<aside class='tabs'>
		<section>
			<% categories.each do |category| %>
				<% if category.present? %>
					<h2><%= t "pages.#{resource}.index.categories.#{category}" %></h2>
				<% end %>
				<% tabs.each do |tab| %>
					<% tab = category.present? ? "#{category}_#{tab}" : tab %>
					<% if instance_variable_get(:"@#{tab}") %>
						<div class='tab' data-tab='<%= tab %>'
						  title='<%=t "pages.#{resource}.index.#{tab}.description" %>'>
							<%=t "pages.#{resource}.index.#{tab}.link" %>
						</div>
					<% end # if tab %>
				<% end # each tab %>
			<% end # each category %>
		</section>
	</aside>
	
</article>