<%= render 'layouts/doctype' %>
<%= render 'layouts/html_tag' %>
	<%= render 'shared/headers' %>
	<body>
		<%= render 'shared/navigation' %>
		<main class='centered'>
			<%= yield %>
		</main>
	</body>
</html>