<div class="panel panel-default panel-small center-block" id='login'
  data-ng-controller='LoginController as login'>
  <div class="panel-heading">
    <h3 class="panel-title" data-ng-show="mode == 'login'">
      <%= t 'accounts.login.title' %>
    </h3>
    <h3 class="panel-title" data-ng-show="mode != 'login'">
      <%= t 'accounts.join.title' %>
    </h3>
  </div>
  <div class="panel-body">
		<h5 class='line-behind'><%= t 'accounts.login.services' %></h5>
		<%= render 'shared/login/services' %>
		
		<h5 class='line-behind'><%= t 'accounts.login.form' %></h5>
		
		<%= render 'shared/messages' %>
		
		<%= form_for resource, as: resource_name, url:
		  "{{ mode == 'login' ? "+
		  "'#{session_path(resource_name)}' : "+
		  "'#{registration_path(resource_name)}' }}",
		  data: {
		    'ng-submit' => 'hashPasswords()',
		    'ng-init' => "email = '#{resource.email}'"
		  } do |f| %>
			
			<%= f.hidden_field :remember_me, value: 1 %>
			
			  <div class="input-group">
          <span class="input-group-addon" id="login-email">
            <span class='fa fa-envelope'></span>
          </span>
          <%= f.email_field :email, autofocus: true, class: 'form-control',
            placeholder: t("accounts.login.email"),
            aria_describedby: :login_email,
            data: { 'ng-model' => 'email' } %>
        </div>
        
			  <div class="input-group">
          <span class="input-group-addon" id="login-password">
            <span class='fa fa-key'></span>
          </span>
          <%= f.password_field :password, class: 'form-control',
            placeholder: t("accounts.login.password"),
            aria_describedby: :login_password,
            data: {
              submit_on_enter: true,
              strength_indicator: 'password-strength',
              'ng-model' => 'password'
            } %>
        </div>
				<div id="password-strength" class='input-warning'
				  data-ng-show='showStrengthIndicator()'>
					<span>{{passwordStrength()}}</span>
					<span class='fa fa-info-circle'
					  tooltip="{{strengthTooltip}}"></span>
				</div>
        
        <div data-ng-show="mode != 'login'">
          
  			  <div class="input-group">
            <span class="input-group-addon" id="login-password-confirm">
              <span class='fa fa-key'></span>
            </span>
            <%= f.password_field :password_confirmation, class: 'form-control',
              placeholder: t("accounts.login.confirm_password"),
              aria_describedby: :login_password_confirm,
              data: {
                submit_on_enter: true,
                'ng-model' => 'passwordConfirmation'
              } %>
          </div>
          
          <div class='recaptcha text-center'>
  					<%= recaptcha_tags ssl: true, hl: I18n.locale %>
					</div>
          
        </div>
        
				<div class='text-right' data-ng-show="mode != 'login'">
				  <a href='#' class='btn btn-default' data-ng-click="mode = 'login'">
						<span class='fa fa-sign-in'></span>
						<%=t 'accounts.login.button' %>
					</a>
					
				  <%= f.button class: 'btn btn-primary' do %>
						<span class='fa fa-user-plus'></span>
						<%=t 'accounts.join.button' %>
					<% end %>
				</div>
				
				<div class='text-right' data-ng-show="mode == 'login'">
				  <a href='#' class='btn btn-default' data-ng-click="mode = 'join'">
						<span class='fa fa-user-plus'></span>
						<%=t 'accounts.join.button' %>
					</a>
					
				  <%= f.button class: 'btn btn-primary' do %>
						<span class='fa fa-sign-in'></span>
						<%=t 'accounts.login.button' %>
					<% end %>
				  
				</div>
				
			  <%= render 'shared/login/links' %>
			
		<% end %>
  </div>
</div>
