.row
  .col-md-8
    - if current_user.links.empty?
      .alert.alert-info
        %span.fa.fa-warning
        = t('accounts.edit.accounts.empty')
    - current_user.links.each do |link|
      .panel.panel-default
        .panel-heading
          %span.fa.fa-fw.fa-facebook
          %strong= link
          .pull-right
            = link_to link,
                data: { confirm: t('accounts.settings.accounts.confirm', provider: link.display) },
                method: :delete,
                target: '_self',
                class: 'btn btn-danger btn-xs' do
              %span.fa.fa-fw.fa-close
              = t 'accounts.edit.accounts.unconnect'

        .panel-body
          %form
            - [:listens, :shares, :playlists, :button].each do |setting|
              - next unless link.respond_to? "#{setting}?"
              - enabled = link.send(setting.to_s+"_enabled?")
              %a.link-setting{ data: { 'ng-click' => "toggleLinkSetting('#{link[:provider]}','#{setting}')" } }
                %span.fa.fa-fw.fa-toggle-on{ data: { 'ng-show' => "linkSetting('#{link[:provider]}','#{setting}') == 'on'" } }
                %span.fa.fa-fw.fa-toggle-off{ data: { 'ng-show' => "linkSetting('#{link[:provider]}','#{setting}') == 'off'" } }
                %span.fa.fa-fw.fa-spinner.fa-pulse{ data: { 'ng-show' => "linkSetting('#{link[:provider]}','#{setting}') == 'loading'" } }
                = t "accounts.edit.accounts.#{setting}"

  .col-md-4
    .list-group
      - current_user.unconnected_links.each do |link|
        %a.list-group-item{href: "/auth/#{link[:slug] || link[:name].downcase}",
          target: '_self' }
          %span.fa.fa-fw{ class: "fa-#{link[:icon] || link[:name].downcase}" }
          = t 'accounts.edit.accounts.connect', provider: link[:name]
