<% content_for :title do %>
	<%= @song.title %>
<% end %>

<% content_for :description do %>
	<%=t 'pages.songs.show.description', song: @song.title %>
<% end %>

<% content_for :header do %>
	<meta property="og:title" content="<%=h @song.title %>"/>
	<meta property="og:type" content="music.song"/>
	<meta property="og:image" content="<%= @song.image %>"/>
	<meta property="og:url" content="<%= song_url(@song) %>"/>
	<meta property="og:description" content="<%=t 'songs.description', song: @song, artists: @song.artist_names %>"/>
	<meta property="music:duration" content="<%=@song.length.to_i %>"/>
	<% @song.artists.each do |a| %>
		<meta property="music:musician" content="<%= artist_url(a) %>"/>
	<% end %>
	<% @song.albums.each do |a| %>
		<meta property="music:album" content="<%= album_url(a) %>"/>
	<% end %>
<% end %>

<% sections = @song.sources.map(&:name) %>

<article class='tabbed horizontally'>
	<section class='head'>
		<div class='left'>
			<div class='top'></div>
			<div class='line'></div>
			<div class='bottom'>
				<span><%=t 'songs.singular' %></span>
			</div>
		</div>
		<div class='right'>
			<div class='top'>
				<h1><%=d @song.title %></h1>
				<%= render partial: 'shared/social' %>
			</div>
			<div class='line'></div>
			<div class='bottom'>
				<span>
					<%= link_to_association @song.artists %>
				</span>
			</div>
		</div>
		<div class='image'>
			<div class='image-border'>
				<%= editable_image_tag @song, :huge, data: { field: :picture } %>
			</div>
		</div>
	</section>
	
	<% tabify = current_user.admin? %>
	
	<section class='tabs'>
		<% if tabify %>
			<span class='tab' data-tab='info'>
				<%=t "pages.songs.show.info.link" %>
			</span>
			<span class='tab' data-tab='sources'>
				<%=t "pages.sources.edit.link" %>
			</span>
		<% end %>
	</section>

	<% if tabify %><section data-content='info'><% end %>
	
		<aside>
			<%= render "media/songs/sections/info" %>
		</aside>
	
		<%= render @song.sources %>
	
		<%= render "media/songs/sections/albums" %>
		<%= render "media/songs/sections/similar" %>
		<%= render "media/songs/sections/duplicates" if current_user.admin? %>
		
	<% if tabify %></section><% end %>

	<% if tabify %>
		<section data-content='sources'>
			<%= render partial: "media/sources/edit", object: @song, as: :resource %>
		</section>
	<% end %>
	
</article>