<div class="row" id='highlights'>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/360x290">
      <div class="caption">
        <h3><%= t 'static.about.highlights.music.title' %></h3>
        <p><%= t 'static.about.highlights.music.body' %></p>
      </div>
    </div>  
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/360x290">
      <div class="caption">
        <h3><%= t 'static.about.highlights.social.title' %></h3>
        <p><%= t 'static.about.highlights.social.body' %></p>
      </div>
    </div>  
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://placehold.it/360x290">
      <div class="caption">
        <h3><%= t 'static.about.highlights.fresh.title' %></h3>
        <p><%= t 'static.about.highlights.fresh.body' %></p>
      </div>
    </div>  
  </div>
  
</div>
