<div class='row' id='story'>
  
  <div class='col-sm-8'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t 'static.about.story.headline' %></h3>
      </div>
      <div class="panel-body">
        <p><%= t 'static.about.story.paragraph1' %></p>
        <p><%= t 'static.about.story.paragraph2' %></p>
        <p><%= t 'static.about.story.paragraph3' %></p>
      </div>
    </div>
  </div>
  
  <div class='col-sm-4' id='creator'>    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t 'static.about.story.creator.headline' %></h3>
      </div>
      <div class="panel-body">
        <%= image_tag 'https://emsreference.com/sites/default/files/styles/medium/public/placeholder-male-2.png?itok=FtOH9I3j', class: 'img-rounded center-block' %>
        <p><%= t 'static.about.story.creator.body' %></p>
      </div>
    </div>
  </div>
</div>