<h1><%= t 'pages.sources.edit.title', resource: resource %></h1>

<div data-list='sources' data-list-owner='<%= resource.id %>'>

	<%= render partial: 'sources/form', collection: resource.sources, as: :source %>

	<h2><%= t 'pages.sources.new.title' %></h2>
	<%= render partial: 'sources/form', object: Source.new(resource: resource), as: :source %>

</div>