<div class='item' data-resource-type='source' data-resource-id='<%= source.id %>'
	data-resource-url='<%= url_for(source) %>'>
	<%= form_for source, remote: true do |f| %>
	
		<%= render partial: 'shared/messages', locals: { resource: source } %>
	
		<%= f.hidden_field :resource_id, value: source.resource.id %>
		<%= f.hidden_field :resource_type, value: source.resource.class.name %>
		<div class='field'>
			<%= f.text_field :name, placeholder: t('sources.name') %>
		</div>
		<div class='field'>
			<%= f.text_field :foreign_id, placeholder: t('sources.foreign_id') %>
		</div>
		<div class='field'>
			<%= f.text_field :foreign_url, placeholder: t('sources.foreign_url') %>
		</div>
		<%= link_to '#', class: 'button', data: { button: :submit } do %>
			<span><%=t "pages.sources.#{source.persisted? ? 'update' : 'create'}.link" %></span>
		<% end %>
		<% if source.persisted? %>
			<%= link_to t('pages.sources.destroy.link'), '', data: {
					ajax_call: :delete,
					ajax_url: source_path(source, format: :json),
					confirm: t('pages.sources.destroy.confirm', source: source)
				} %>
		<% end %>
	<% end %>
</div>