- content_for :title do
  = t 'media.artists.edit.title', artist: @artist
  
- heading = t 'media.artists.edit.heading', artist: @artist
- form_url = artist_path(@artist)
- back_url = form_url
- method = :patch
- init = "fetch('#{artist_url(@artist, format: :json)}')"
- form_data = { 'ng-controller' => 'ArtistController', 'ng-init' => init }
- base_url = "#{request.protocol}#{request.host_with_port}"

- content_for :toolbar do

  .navbar-left
    = simple_format heading, wrapper_tag: :h3, class: 'toolbar-title'
  
  .navbar-right
    %button.btn.btn-primary{ data: { 'toolbar-submit' => '' }}
      %span.fa.fa-check
      = t 'save'
    = link_to back_url, target: '_self', class: 'btn btn-secondary' do
      %span.fa.fa-remove
      = t 'cancel'

= form_for @artist, url: form_url, method: method, data: form_data do |f|

  = render partial: 'shared/messages', locals: { resource: @artist }

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :slug
    .input-group
      %span.input-group-addon
        = "#{base_url}/artists/"
      = f.text_field :slug, class: 'form-control'