- @event.artists.each do |artist|
  .panel.panel-default
    .panel-heading
      %span.fa.fa-fw.fa-user
      = link_to artist, artist
    %ul.list-group
      %li.list-group-item
        = t 'media.artists.stats.listens'
        %span.badge= number_to_human artist.listens.count
      %li.list-group-item
        = t 'media.artists.stats.playlists'
        %span.badge= number_to_human artist.playlists.count
      %li.list-group-item
        = t 'media.artists.stats.albums'
        %span.badge= number_to_human artist.albums.count
      %li.list-group-item
        = t 'media.artists.stats.songs'
        %span.badge= number_to_human artist.songs.count