- if current_user.admin?
  .panel.panel-default
    .panel-heading
      %span.fa.fa-fw.fa-shield
      = t 'media.events.manage.heading'
    .panel-body
  
      = link_to edit_event_path(@event),
          class: 'btn btn-default', target: '_self' do
        %span.fa.fa-fw.fa-edit
        = t 'media.events.manage.edit'
      
      = link_to event_path(@event),
          class: 'btn btn-danger', method: :delete, target: '_self',
          data: { confirm: t('media.events.manage.confirm') } do
        %span.fa.fa-fw.fa-remove
        = t 'media.events.manage.remove'
