<%= render partial: 'shared/messages', locals: { resource: @app } %>

<%= form_for @app do |f| %>
	<div class='field'>
		<%= f.label :name, t("apps.meta.name") %>
		<%= f.text_field :name, autofocus: true %>
	</div>
	<div class='field'>
		<%= f.label :name, t("apps.meta.description") %>
		<%= f.text_area :description %>
	</div>
	<div class='field'>
		<%= f.label :name, t("apps.meta.website") %>
		<%= f.url_field :website %>
	</div>
	
	<p>&nbsp;</p>
		
	<div class='field'>
		<%= f.label :icon_16, t("apps.meta.icon_16") %>
		<%= f.url_field :icon_16 %>
		<%= image_tag '', width: 16, height: 16, id: :icon_16 %>
	</div>
	<div class='field'>
		<%= f.label :icon_64, t("apps.meta.icon_64") %>
		<%= f.url_field :icon_64 %>
		<%= image_tag '', width: 64, height: 64, id: :icon_64 %>
	</div>
	<div class='field'>
		<%= f.label :icon_512, t("apps.meta.icon_512") %>
		<%= f.url_field :icon_512 %>
		<%= image_tag '', width: 64, height: 64, id: :icon_512 %>
	</div>
	
	<p>&nbsp;</p>
	
	<div class='field'>
		<%= f.label :name, t("apps.meta.author") %>
		<%= f.text_field :author %>
	</div>
	<div class='field'>
		<%= f.label :name, t("apps.meta.author_url") %>
		<%= f.url_field :author_url %>
	</div>
	
	<p>&nbsp;</p>
	
	<div class='field'>
		<%= f.label :name, t("apps.meta.callback") %>
		<%= f.url_field :callback_url %>
	</div>
	<div class='field'>
		<%= f.label :name, t("apps.meta.support_url") %>
		<%= f.url_field :support_url %>
	</div>
	
	<%= link_to '#', class: 'button', data: { button: :submit } do %>
		<%= image_tag 'gfx/buttons/save.png' %>
		<span><%=t 'save' %></span>
	<% end %>
	
	
<% end %>