<h2><%= t "activerecord.models.listen.other" %></h2>
<%= line_chart charts_listens_for_user_path %>

<h2><%= t "activerecord.models.song.other" %></h2>
<%= pie_chart charts_songs_for_user_path %>

<h2><%= t "activerecord.models.artist.other" %></h2>
<%= pie_chart charts_artists_for_user_path %>

<h2><%= t "activerecord.models.album.other" %></h2>
<%= pie_chart charts_albums_for_user_path %>

<h2><%= t "activerecord.models.genre.other" %></h2>
<%= pie_chart charts_genres_for_user_path %>

<h2><%= t "activerecord.models.playlist.other" %></h2>
<%= pie_chart charts_playlists_for_user_path %>