<!DOCTYPE html>

<html xmlns:og="http://ogp.me/ns#" xml:lang="<%=I18n.locale%>"
      lang="<%=I18n.locale%>">
  
  <head>
    <%= render 'head' %>
  </head>
  
  <body>
    <%= render 'navbar' %>
    
    <div data-ng-app='Stoffi'>
      <%= render 'toolbar' %>
      <div class='root container'>
        <%= render 'breadcrumb' %>
  		  <%= yield %>
  		</div>
  	<div>
		
    <%= render 'footer' %>
    <%= render 'notifications' %>
  </body>
  
</html>