<%
tabs = {
	user: ['statistics', 'rankings', 'playlists', 'devices']
}
tabs[:admin] = ['duplicates'] if current_user.admin?
%>

<article class='tabbed'>
	<% tabs.values.flatten.each do |tab| %>
		<section data-content='<%= tab %>'>
			<h1><%= t "pages.users.registrations.dashboard.#{tab}.title" %></h1>
			<%= render "users/registrations/dashboard/#{tab}" %>
		</section>
		<% end %>
	
	<aside class='tabs'>
		<section>
			<% tabs.keys.each do |category| %>
				<% unless category == :user %>
					<h2><%= t "dashboard.categories.#{category}" %></h2>
				<% end %>
				<% tabs[category].each do |tab| %>
					<div class='tab' data-tab='<%= tab %>' title='<%=t "pages.users.registrations.dashboard.#{tab}.description" %>'>
						<%=t "pages.users.registrations.dashboard.#{tab}.link" %>
					</div>
				<% end %>
			<% end %>
		</section>
	</aside>
</article>